<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="top-wrapper">

        <div class="top-image">
            <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
        </div>
        <h1 class="title">ファイル内容表示</h1>

        <% if (typeof xlsx !== 'undefined') { %>
            <% for (var i = 0; i < 5; i++) { %>
                <P><%= xlsx[i]['A1'] %> <%= xlsx[i]['B1'] %> <%= xlsx[i]['C1'] %></P>
            <% } %>
        <% }%>

        <br>
        <a href="/index" class="button">ホームに戻る</a>
    </div>
</body>

</html>