<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
    <h1><a href="/"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
    <h1>ファイル一覧</h1>
    
    <a href = "/" class="button"  >ホームに戻る</a>
</body>
</html>