<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="top-wrapper">
    <div class="top-image">
        <img src="/images/logo.jpg">
    </div>
    <h1 class="title">工数管理システム</h1>
        <%= userName + "としてログインしています" %>
    <p class="description">
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <br>
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
    </p>
    <ul>
        <li><a href = "/projectList" class="button"  >プロジェクト一覧</a></li><br>
        <li><a href = "/upload" class="button"  >ファイルアップロード</a></li><br>
        <% if ( userName === 'lexsol') { %>
            <li><a href = "/approve" class="button"  >承認</a></li><br>
        <% } %>
        <li><a href = "/logout" class="button"  >ログアウト</a></li><br>
        
    </ul>
    <% if (typeof fileName !== 'undefined') { %>
        <P><%= fileName %></P>
    <% } %>
    </div>

    
</body>
</html>