<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="top-wrapper">
    <div class="top-image">
        <img src="/images/logo.jpg">
    </div>
    <h1 class="title">勤怠管理システム</h1>
    <p class="description">
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <br>
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
    </p>
    <ul>
        <li><a href = "/upload" class="button"  >ファイルをアップロードする</a></li>>
        <li><a href = "/upload" class="button"  >勤怠時間を確認する</a></li>>
    </ul>
    </div>
</body>
</html>