<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>TOP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="top-wrapper">
    <div class="top-image">
        <img src="/images/logo.jpg">
    </div>
    <h1 class="title">ログイン</h1>
    <p class="description">
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <br>
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  
    </p>
    <ul>

        <li><a href = "/index" class="button"  >ログイン</a></li><br>
    </ul>

    </div>

    
</body>
</html>