<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>アップロード</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="top-wrapper">

    <div class="top-image">
      <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
    </div>
    <h1 class="title">ファイルアップロード</h1>
    <h3>ファイル名は'〇〇_案件一覧'という形式にしてください</h3>

    <form>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
      </div>
      <br>
      <p class="not-fileName"></p>
    </form>
    <!-- xlsx内容の表示 -->
    <!-- <table class="chart-table" id='tbl1' border="1" cellspacing="0">
      <tr>
        <th width="6%">記入日</th>
        <th>記入者</th>
        <th width="10%">タイトル</th>
        <th width="15%">不具合・要望内容</th>
        <th width="15%">PGM_ID</th>
        <th width="20%">対応</th>
        <th>対応者</th>
        <th>進捗</th>
        <th>重要度</th>
        <th width="6%">対応予定日</th>
        <th width="6%">完了日</th>
        <th>工数(人日)</th>
        <th>種別</th>
        <th>備考</th>
      </tr>
    </table> -->
    <!-- ここまで -->
    <div class="button-area">
      <button id="update" type="button" class="button">送信</button>
      <a href="/index" class="button">ホームに戻る</a>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.19/xlsx.full.min.js"></script>
  <script src="/javascript/readxlsx.js"></script>
</body>

</html>