<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="top-wrapper">

    <div class="top-image">
        <h1><a href="/index"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
    </div>
    <h1 class="title">ファイルアップロード</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv, .xlsx, .xls">
        <button type="submit">送信</button>
    </form>
    <!-- javascriptを埋め込み。dataが送られてきたらpタグが表示される。 -->
    <% if (typeof data !== 'undefined') { %>
        <% if(data.indexOf('_案件一覧') > -1){ %>
            <P><%= data %>のアップロードが完了しました。</P>
        <% }else{ %>
            <P><%= data %>はファイル形式が不正です。</P>
        <% }%>
    <% }%>
    
    <br>
    <a href = "/index" class="button"  >ホームに戻る</a>
    </div>
</body>
</html>
