<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
    <h1><a href="/"><img src="/images/logo.jpg" alt="LexSol"></a></h1>
    <h1>ファイルアップロード</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv, .xlsx, .xls">
        <button type="submit">送信</button>
    </form>
</body>
</html>