* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  /* letter-spacing: 1px; */
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align:center;
}

table {
  margin-left: 15%;
  margin-right: 0px;
  margin-top: 10px;
  width: 80%;
}

th {
  white-space: nowrap;
  background-color: #58d2b2;
}

td {
  font-size: 12px;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}
td textarea{
  width: 100%;
  height: 100%;
}
td input{
  width: 100%;
  height: 100%;
}

/* 0625わかつき追加分 */

a:hover {
  transition: all 0.3s ease;
}
.btn-square {
  display: inline-block;
  padding: 0.2em 0.4em;
  text-decoration: none;
  background: #42cea9;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 14px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
#appcol {
  width: 5%;
}

.radio {
  width: 20px;
  height: 20px;
  top: 4px;
  position: relative;
}

/* 0625わかつき追加分 */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}


/* top ================================ */
.top-wrapper {
  text-align:center;
}

.title {
  font-size: 54px;
  line-height: 76px;
  letter-spacing: 2px;
  text-align: center;
  /*margin-bottom: 24px;*/
  background-color: #B0C4DE;
}

.description {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.main {
  margin-top: 30px;
  margin-left: 7.5%
}

.button {
  width: 230px;
  height: 48px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: white;
  background-color: #6495ED;
  border: 1px solid white;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  color: #ffffff;
  background-color:  #58d2b2;
}


.button {
  cursor: pointer;
}

.top-image {
  font-size: 30px;
  font-weight: 900;
  float: left;
  background-color: #B0C4DE;
}

.top-image a {
  display: inline;
  font-size: 30px;
}

/* header ================================ */
header {
  height: 56px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

.header-logo:hover {
  color: #58d2b2;
}

/* container ================================ */
.container {
  width: 80%;
  min-width: 360px;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 56px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.container-header h1 {
  font-size: 24px;
}

/* index ================================ */
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
}

.id-column {
  width: 72px;
  text-align: center;
}

.table-body {
  background-color: #ffffff;
}

.table-body li {
  height: 72px;
  border: 1px solid #f0f4f9;
  border-top: none;
  line-height: 74px;
  display: flex;
}

.table-body .id-column {
  font-size: 16px;
  color: #bac6d3;
}

.table-body .name-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}

.clear-decoration {
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
  font-family: 'Hiragino Sans', sans-serif;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
  font-weight: bold;
  border: 0px;
}

.flag1 {
  color: rgb(255, 213, 0);
}

.flag2 {
  color: #ba0000;
}

/* chart ================================ */

.chart-table a:hover{
  color: #0000FF;
}

/* upload ================================ */

.button-area button:disabled {
  background: #ccc;
  color: #42cea9;
}

#menu-bar {
  position: absolute;
  float: left;
  height: 100%;
  width: 15%;
  background-color: #BBBBBB;
}

#menu-bar ul {
  margin-top: 40px;
}

#menu-bar .button {
  width: 75%;
}
