* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align:center;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}


/* top ================================ */
.top-wrapper {
  text-align:center;
}

.title {
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.description {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.button {
  width: 230px;
  height: 48px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: #42cea9;;
  background-color: #ffffff;
  border: 2px solid #58d2b2;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  color: #ffffff;
  background-color:  #58d2b2;
}


.button {
  cursor: pointer;
}

.top-image {
  text-align:center;
}

/* header ================================ */
header {
  height: 56px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

.header-logo:hover {
  color: #58d2b2;
}

/* container ================================ */
.container {
  width: 80%;
  min-width: 360px;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 56px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.container-header h1 {
  font-size: 24px;
}

/* index ================================ */
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
}

.id-column {
  width: 72px;
  text-align: center;
}

.table-body {
  background-color: #ffffff;
}

.table-body li {
  height: 72px;
  border: 1px solid #f0f4f9;
  border-top: none;
  line-height: 74px;
  display: flex;
}

.table-body .id-column {
  font-size: 16px;
  color: #bac6d3;
}

.table-body .name-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}

.clear-decoration {
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
  font-family: 'Hiragino Sans', sans-serif;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
  font-weight: bold; 
  border: 0px;
}

.flag1 {
  color: rgb(255, 213, 0);
}

.flag2 {
  color: #ba0000;
}